.contacts__container {
    display: grid;
    width: calc(100vw - 250px);
    height: 520px;
    align-items: start;
    justify-content: center;
    background-color: var(--secondary);
    padding: 10px 20px;
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
}

.contacts__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.addContacts__button {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0 15px;
    width: 100px;
    height: 32px;
    color: black;
    font-size: 16px;
    font-weight: var(--fw-bold);
    background-color: var(--light-orange);
    border-radius: 4px;
    border: 2px solid black;
}

.addContacts__button:hover {
    cursor: pointer;
}

.remove {
    cursor: pointer;
}

.contacts__list {
    list-style: none;
    background-color: var(--secondary);
}

.contacts {
    display: grid;
    grid-template-columns: 60px 150px 150px 150px 100px 100px 150px 150px 20px;
    align-items: center;
    justify-items: center;
    padding: 0 25px;
    border: 2px solid #666666;
    margin: 20px 0;
    gap: 10px;
    background-color: var(--primary);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    padding: 10px 20px;
}

.contacts__options {
    display: grid;
    grid-template-columns: 60px 150px 150px 150px 100px 100px 150px 150px 20px;
    align-items: center;
    justify-items: center;
    padding: 0 25px;
    border: 2px solid #666666;
    margin: 20px 0;
    gap: 10px;
    background-color: var(--primary);
    padding: 10px 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pageBtn {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 38px;
    height: 28px;
    border-radius: 4px;
    color: var(--white);
    font-weight: var(--fw-bold);
    background-color: var(--secondary);
    margin-right: 3px;
    cursor: pointer;
}

.pageBtn:hover {
    background-color: var(--light-orange);
}

.activePageBtn {
    background-color: var(--light-orange) !important;
}

.rotate {
    transform: rotate(-180deg);
}

.inputContainer {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    color: var(--primary);
    margin: 30px 0px 10px;
    border: 2px solid #666666;
    padding: 5px 15px;
    border-radius: 4px;
}

.inputContainer input {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

