.layout {
    display: grid;
    justify-items: center;
    align-items: start;
    grid-template-columns: 250px minmax(100px, 1920px);
    grid-template-rows: max-content 1fr;
    gap: 30px;
    min-height: 100vh;
    grid-template-areas: 
    "footer footer"
    "navbar main"
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    grid-area: footer;
    padding: 10px 40px;
}

.navbar {
    grid-area: navbar;
    position: relative;
    height: 80vh;
}

.active__menu {
    border-left: 5px solid var(--light-orange);
    background-color: whitesmoke;
}

.main {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-area: main;
    padding: 0 40px 0 0;
}

.footer__user__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 10px;
}

.user__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--secondary);
}

.username {
    display: block;
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.role {
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    padding: 20px 25px;
}

.menu {
    display: grid;
    grid-template-columns: 20px auto;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.menu:hover {
    cursor: pointer;
}

.logout {
    position: absolute;
    bottom: 20px;
    display: grid;
    grid-template-columns: 20px auto;
    gap: 10px;
    align-items: center;
    justify-content: start;
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
    padding: 20px 25px;
}

.logout:hover {
    cursor: pointer;
}