@font-face {
  font-family: 'jostregular';
  src: url('./fonts/jost-variablefont_wght-webfont.woff2') format('woff2'),
       url('./fonts/jost-variablefont_wght-webfont.woff') format('woff'),
       url('./fonts/jost-variablefont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--family);
  font-size: var(--fs-sm);
  line-height: 20px;
  font-weight: var(--fw-light);
  color: #454545;
  user-select: none;
}

html{
  overflow-x: hidden;
}

:root {
  /* Typography */
  --family: 'jostregular';
  --fs-sm: 14px;
  --fs-md: 20px;
  --fs-lg: 26px;
  --fw-light: 400;
  --fw-normal: 600;
  --fw-bold: 700;

  /* color palette */
  --primary: #fff;
  --secondary: #eeeae7;
  --light-orange: #edbc4a;


  /* Shadow */

}
